@page "/"
@page "/orders"
@using INTUS.SalesManager.Common.Models

<PageTitle>Orders</PageTitle>

<h3>Orders</h3>
@if (orders == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>State</th>
                <th>Windows</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in orders)
            {
                <tr>
                    <td>@order.Id</td>
                    <td>@order.Name</td>
                    <td>@order.State.Text</td>
                    <td>@order.Windows</td>
                    <td><a href="/orders/@order.Id">View</a></td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<OrderListDto>? orders;

    protected override async Task OnInitializedAsync()
    {
        orders = await HttpClient.GetFromJsonAsync<List<OrderListDto>>("/api/v1/orders");
    }
}
